.about{
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.about-left{
    width: 50%;
    margin-right: 50px;
}
.about-left span{
    color: rgb(105, 105, 105);
    font-size: 18px;
    font-weight: 600;
}
.about-left button{
    padding: 10px 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    color:black;
    font-size: 18px;
    cursor: pointer;
}
.about-right{
    width: 50%;
}
.about-right img{
    width: 500px;
    border: 4px solid black;
    border-radius: 20px;
    margin-left: 50px;
}

@media (max-width: 431px) {
    .about{
        width: 740px;
        padding-left: 20px;
        padding-right: 20px;
        height: 70vh;
        margin-top: 250px;
    }
    .about-left{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
    }
    .about-right img{
        width: 300px;
        height: 300px;
    }
    .about-left p{
        font-size: 13px;
    }
}